<%- include('partials/header') -%>
  <div class="container">
    <!-- <form id="recipe-search-form">
      <input type="text" placeholder="Search">
      <button type="submit">Submit</button>
    </form> -->

<!-- Categories -->

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-6 g-2 g-lg g-lg-3 py-4">
      <% if(categories != '') { %>
        <% categories.forEach(function(category,index) { %>
          <a href="/categories/<%- category.name%>" class="col text-center category__link">
            <div class="category__img shadow">
              <img src="<%- category.image %>" alt="<%- category.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%- category.name %></div>
          </a>
        <% }) %>
      <% } %>
      <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="../imgs/login-page-sm.jpg" alt="See All Categories" loading="lazy">
        </div>
        <div class="pt-1">View All</div>
      </a>
    </div>

    <!-- Posts -->

    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<recipes.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/recipe/<%= recipes[i]._id%>">
              <img class="img-fluid" src="<%= recipes[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  <!-- <div class="row justify-content-center mt-5" id="edamam">
    
  </div> -->
</div>
</section>
  </div>  

  <!-- <script src="../js/feed.js"></script> -->
<%- include('partials/footer') -%>