<%- include('partials/header-signed-in') -%>

  <body class="d-flex flex-column min-vh-100">
    <div class="main container p-3 mb-5 dm-container rounded">
      <!-- <form id="recipe-search-form">
      <input type="text" placeholder="Search">
      <button type="submit">Submit</button>
    </form> -->

      <!-- Categories -->

      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-6 g-2 g-lg g-lg-3 mb-2">
        <% if(categories !='' ) { %>
          <% categories.forEach(function(category,index) { %>
            <a href="/categories/<%- category.name%>" class="col text-center category__link">
              <div class="category__img shadow">
                <img src="<%- category.image %>" alt="<%- category.name %>" loading="lazy">
              </div>
              <div class="pt-1">
                <%- category.displayName %>
              </div>
            </a>
            <% }) %>
              <% } %>
                <a href="/categories" class="col text-center category__link">
                  <div class="category__img shadow">
                    <img src="../imgs/login-page-sm.jpg" alt="See All Categories" loading="lazy">
                  </div>
                  <div class="pt-1">View All</div>
                </a>
      </div>

      <!-- Posts -->

      <section class="post-container row justify-content-center">
        <ul class="row list-unstyled m-0 p-0">
          <% for(var i=0; i<recipes.length; i++) {%>
            <li class="col-12 col-md-6 col-lg-4 mt-3">
              <div class="recipe-card rounded shadow dm-dark-container">
                <div class="post-img-container">
                  <a class="feed-link" href="/recipe/<%= recipes[i]._id%>">
                    <img class="post-img rounded" src="<%= recipes[i].image%>">
                  </a>
                  <a href="/profile/<%=recipes[i].user.userName%>"><img class="post-prof-img" src="<%= recipes[i].user.image%>"></a>
                </div>
                <div class="post-details">
                  <h2 class="recipe-title h4" >
                    <%= recipes[i].title %>
                  </h2>
                  <p class="recipe-desc h6">
                    <%= recipes[i].caption %>
                  </p>
                  <a class="feed-link text-decoration-none h5 d-block" href="/recipe/<%= recipes[i]._id%>"> View Recipe </a>
                </div>
              </div>
            </li>
            <% } %>
        </ul>
      </section>
      <!-- <div class="row justify-content-center mt-5" id="edamam">
    
  </div> -->
    </div>

    <%- include('partials/footer') -%>