<%- include('partials/header') -%>

<div class="container-xxl">
    <ul class="row list-unstyled">
        <% for(let i = 0; i < recipes.length; i++) { %>
            <li class="col-3 mt-5 justify-content-between">
                <a href="/recipe/<%= recipes[i].id %>">
                    <img class="img-fluid" src="<%= recipes[i].image %>" alt="<%= recipes[i].name %>">
                </a>
            </li>
        <% } %>
    </ul>
</div> 

<%- include('partials/footer') -%>